.postItem {
    text-align: justify;
    cursor: pointer;
    display: block;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;

    h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }

    p {
        color: var(--gray-200);
        font-size: 1.125rem; // 18px //
        line-height: 1.5rem;
    }

    footer {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        text-transform: capitalize;

        svg {
            margin-right: 0.25rem;
        }
    }

    &:not(:first-child) {
        margin-top: 3rem;
    }

    transition: color 0.2s;
    transition: background-color 0.3s;

    &:hover {
        color: var(--pink-500);
        background-color: rgba(0, 0, 0, 0.253);
   
        p {
            color: inherit;
        }
    }
}



.readMoreButton {
    border: none;
    background: none;
    color: var(--pink-500);
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 4rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.7);
    }
}
