.headerContainer {
    height: 6rem;
    display: flex;
    align-items: center;

    img {
        margin-right: 1rem;
        cursor: pointer;
        transition: filter 0.2s;

        &:hover{
            filter: brightness(0.7);
        }
    }
}